<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prj.androidboatcom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".google.GoogleSignInActivity">

        </activity>
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".Connect"></activity>
        <activity android:name=".Start"></activity>
        <activity android:name=".Main"></activity>
        <activity android:name=".ui.notifications.ControlFragment">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ROS"
            android:theme="@android:style/Theme.NoDisplay"

            ></activity>

        <!--  android:theme="@android:style/Theme.NoDisplay"-->

        <activity android:name="org.ros.android.MasterChooser" />

        <service android:name="org.ros.android.NodeMainExecutorService" >
            <intent-filter>
                <action android:name="org.ros.android.NodeMainExecutorService" />
            </intent-filter>
        </service>
        <uses-library android:name="com.google.android.maps" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDRBhnqWRuFnFt6Tu4ymXV3G-JAhJRAB9o"/>
    </application>

</manifest>